@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


/* Base */
:root {
    --color-dark: #0D0D0D;
    --color-dark-tr: #0D0D0Dbf;
    --color-light-tr: #4e629bbf;
    --color-light: #4e629b;
    --color-highlight: #ff10f0;
    --color-highlight: #ff56f4;
    --color-white: #e5e8ed;
}

body {
    background-color: var(--color-dark);
    font-family: 'Space Mono', serif;
    color: var(--color-white);
    font-size: max(2em, 2vw);
}

h1,
h2,
h3 {
    font-family: 'Montserrat', serif;
    font-weight: 500;
}



/* Hero */

.custom-title {
    font-size: 5rem;
}

.custom-extra-bold {
    font-weight: 800;
}

.btn-custom {
    color: var(--color-highlight);
    font-weight: 700;
    font-size: .68em;
    background-color: var(--color-dark-tr);
    border-width: 3px;
    border-color: var(--color-highlight);
}

.btn-custom:hover {
    color: var(--color-dark);
    font-weight: 700;
    background-color: var(--color-highlight);
    border-width: 3px;
    border-color: var(--color-highlight);
}

.hero-custom {
    margin-top: calc(16vh - 5em);
}



/* Navbar */

.nav-item a{
    color: var(--color-white)
}

.navbar-custom {
    background-color: var(--color-dark-tr);
    font-size: .75em;
}

.custom-icon-logo, .custom-navitem {
    min-width: 100px;
    font-size: 35px;
}

.custom-icon-menu {
    min-width: 80px;
}



/* Sections */

.wrapper {
    position: relative;
    text-align: center;
    color: white;
    padding: 0;
    height: auto;
    width: 100%;
}

.section-img {
    margin-top: 10%;
    padding: 0;
    height: auto;
    width: 100%;
}

.section-h2 {
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: var(--color-white);
    line-height: 2em;
    background-color: var(--color-dark);
    text-decoration: none;
}

.section-h2:hover {
    color: var(--color-highlight);
    text-decoration: none;
}

.custom-section-title {
    font-weight: 800;
    font-size: 5rem;
}


@media screen and (max-width:991px){
    .custom-desc, .btn-custom {
        font-size: 1em;
    }
}