@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;600;700&display=swap');

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

html,body{
    overflow-x: hidden;
}

:root {
    --color-dark: #060b19;
    --color-dark-tr: #060b19bf;
    --color-light: #4e629b;
    --color-highlight: #ff10f0;
    --color-white: #a9a7d0;
}



body {
    background-color: var(--color-dark);
    font-family: 'EB Garamond', serif;
    color: var(--color-white);
    font-size: max(2em,2vw);
    box-sizing: border-box;
}

.header-img {
    width: 100%;
    background-image: url("Images/header_fire.png");
    background-size: cover;
    padding-top: 30%;
    padding-bottom: 5%;
    margin-top: calc(50vh - 50vw);
}

@media (max-width: 600px) {
    .header-img {
        margin-top: 0;
    }
}

.header-h1 {
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-size: 17vw;
    color: var(--color-dark) !important;
    line-height: 1em;
}

.header-pink {
    background-image: url("Images/header_pink.png");
    background-size: cover;
    padding: 5%;
    padding-bottom: 25%;
    margin-top: -1%;
}

.header-p {
    font-family: 'EB Garamond', serif;
    font-size: max(2em,2vw);
    color: var(--color-dark) !important;
    text-align: center;
}

.highlight {
    color: var(--color-highlight);
    font-weight: bold;
}

.statue-p {
    font-family: 'EB Garamond', serif;
    color: var(--color-white);
    font-size: max(2em,2vw);
}

.statue-img {
    width: max(50%,800px);
    background-size: cover;
    position: relative;
    float:left;
    padding-bottom:10%;
}

.wrapper {
    padding: 5%;
    display: inline-block;
    margin-top: 20%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    margin-top: 30%;
    padding: 0;
    height: auto;
    width: 100%;
}

.section-img {
    margin-top: 20%;
    padding: 0;
    height: auto;
    width: 100%;
}

.section-h2 {
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: var(--color-white);
    line-height: 2em;
    background-color: var(--color-dark);
    text-decoration: none;
}

.section-h2:hover {
    color: var(--color-highlight);
    text-decoration: underline;
}

nav {
    background-color: var(--color-dark);
}

nav ul {
    position: fixed;
    display: flex;
    top: 0;
    right: 1em;
}

nav ul li {
    list-style: none;
    background-color: var(--color-dark-tr);
    padding: .7em;
    font-size: max(2vw,2vh);
    text-align: center;
}

nav ul li a {
    color: var(--color-white);
    text-decoration: none;
}

nav ul li:hover {
    background-color: var(--color-dark);
}

nav ul li a:hover {
    color: var(--color-highlight);
}