@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;600;700&display=swap');



/* General */

.mobile {
    display: none;
}

.custom-link {
    color: var(--color-light);
    font-weight: 700;
}

.custom-link:hover {
    color: var(--color-highlight);
    text-decoration: none;
}



/* Section */

.custom-section-title {
    color: var(--color-highlight);
    text-decoration: none;
}



/* Tree */

.tree {
    margin: 4em 2em;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    max-width: 500px;
}

.tree .username {
    text-transform: uppercase;
    font-weight: 600;
}

.tree .links a {
    margin: 0.75em auto;
}

.tree .profile-pic {
    width: 150px;
    border-radius: 50%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 7px var(--color-white);
}

.tree .btn {
    color: var(--color-white);
    font-weight: 500;
    font-size: .68em;
    background-color: var(--color-dark-tr);
    border-width: 3px;
    border-color: var(--color-white);
}

/*.tree .btn:hover {
    color: var(--color-highlight);
    font-weight: 500;
    font-size: .68em;
    background-color: var(--color-dark-tr);
    border-width: 3px;
    border-color: var(--color-highlight);
}*/

.tree .pink {
    color: var(--color-dark);
    font-weight: 700;
    font-size: .68em;
    background-color: var(--color-white);
    border-width: 3px;
    border-color: var(--color-white);  
}

.custom-btn-social {
    border: 0;
}

.pop {
    transition: transform .2s;
}

.pop:hover {
    transform: scale(1.2);
}



/* Carousel */

.btn-carousel {
    color: var(--color-white);
    font-weight: 500;
    font-size: .68em;
    background-color: var(--color-dark-tr);
    border-width: 3px;
    border-color: var(--color-white);
}

.btn-carousel:hover {
    color: var(--color-dark);
    font-weight: 500;
    font-size: .68em;
    background-color: var(--color-white);
    border-width: 3px;
    border-color: var(--color-white);
}

.custom-carousel-title {
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-white);
    text-decoration: none;
}

.custom-card {
    background-color: var(--color-dark);
    border-color: var(--color-white);
}

.card-title {
    font-size: 1em;
    font-weight: 700;
    color: var(--color-white);
}

.card-title-unhover {
    font-size: 1em;
    font-weight: 700;
}

.card-title:hover {
    color: var(--color-highlight);
    text-decoration: underline;
}

.card-text {
    font-size: .6em;
}

.carousel-caption {
    background-color: var(--color-dark-tr);
}

.carousel-item .d-block {
    opacity: .8;
}

.carousel-control-next, .carousel-control-prev {
    background-color: var(--color-dark-tr);
}

.card-img-top {
    size: 15rem;
}



/* Gallery */

.product-item {
    position: relative;
}

.product-container {
    background: #000;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-container .product-description {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--color-dark-tr);
    text-align: right;
    padding: 0.2em 0.4em 0.2em;
    -webkit-transform: translateY(101%);
    transform: translateY(101%);
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.product-container:hover .product-description {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.product-img {
    display: block;
    max-width: 100%;
    height: auto;
}



@media screen and (max-width:991px) {

    /* General */

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }



    /* Carousel */

    .carousel-card {
        width: 100% !important;
    }



    /* Tree */
    .tree .profile-pic {
        width: 300px;
    }

    .tree .btn {
        font-size: 3rem;
        border-width: 5px;
    }

    .tree .profile-pic {
        width: 300px;
    }

    .custom-icon-social {
        width: 100px;
    }

    .tree .btn:hover {
        font-size: 3rem;
        border-width: 5px;
    }
}